.signup-page {
    background: rgba(255, 255, 255, 0.976); 
    backdrop-filter: blur(8px);
    max-width: 400px;
    margin: 100px auto;
    padding: 2rem;
    /* background-color: #ffffff; */
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: slideUp 0.6s ease;
}

@keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

.signup-page h1 {
    text-align: center;
    margin-bottom: 24px;
    color: #333;
}

.signup-page label {
    display: block;
    margin-top: 16px;
    margin-bottom: 6px;
    font-weight: 500;
    color: #555;
}

.signup-page input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    transition: 0.3s;
}

.signup-page input:focus {
    border-color: #0077ff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 119, 255, 0.2);
}

.signup-page button {
    width: 100%;
    padding: 12px;
    margin-top: 24px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.signup-page button:hover {
    background-color: #005ec2;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}